<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.reggie.mapper.CategoryMapper">
    <sql id="sqlwhere">
        <where>
            <if test="name!=null" >
                name = #{name}
            </if>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </sql>

    <insert id="addCategory">
        insert into category(name,id,create_time,update_time,create_user,update_user,type,sort)
         values (#{category.name},#{category.id},#{category.createTime},#{category.updateTime},#{id},#{id},#{category.type},#{category.sort});
    </insert>

    <update id="editCategory">
        update category set name=#{category.name},sort=#{category.sort},update_time=#{category.updateTime},update_user=#{id}
        where id=#{category.id}
    </update>
    <delete id="deleteById">
        delete from category where id=#{id}
    </delete>
    <!--查询所有-->
    <select id="getPage" resultType="com.itheima.reggie.bean.Category">
        select * from category
        <where>
            <if test="type!=null and type != 0">
                type=#{type}
            </if>
        </where>
        <if test="setoff>0 and pageSize>0">
            limit #{setoff},#{pageSize};
        </if>

    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from category
    </select>


</mapper>

