<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.reggie.mapper.DishMapper">
    <sql id="where">
        <if test="name!=null and name!=''">
            where name=#{name}
        </if>
    </sql>

    <select id="getPage" resultType="com.itheima.reggie.bean.Dish">
        select * from dish
        <include refid="where"></include>
        limit #{setoff},#{pageSize};
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from dish
        <include refid="where"></include>
    </select>

</mapper>

