<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.reggie.mapper.EmployeeMapper">
    <sql id="sqlwhere">
        <where>
            <if test="name!=null" >
                name = #{name}
            </if>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </sql>

    <insert id="addEmployee" parameterType="com.itheima.reggie.bean.Employee" useGeneratedKeys="true" keyProperty="employee.id">
        insert into employee(id_number,name,phone,sex,username,id,password,create_time,update_time,create_user,update_user)
         values (#{employee.idNumber},#{employee.name},#{employee.phone},#{employee.sex},#{employee.username},#{employee.id},#{employee.password},#{employee.createTime},#{employee.updateTime},#{id},#{id});
    </insert>

    <update id="editEmployee">
        update employee set id_number = #{employee.idNumber}, name = #{employee.name},sex = #{employee.sex},phone = #{employee.phone},username =#{employee.username},
        status = #{employee.status},create_time = #{employee.createTime},update_time = #{employee.updateTime},create_user = #{employee.createUser},
        update_user = #{id}
        where id=#{employee.id}
    </update>
    <!--查询所有-->
    <select id="getPage" resultType="com.itheima.reggie.bean.Employee">
        select * from employee
        <include refid="sqlwhere"/>
        limit #{setoff},#{pageSize};
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from employee
        <include refid="sqlwhere"/>
    </select>


</mapper>

