<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.reggie.mapper.SetmealDishMapper">


    <insert id="addSetmealDish">
        insert into setmeal_dish(id,setmeal_id,dish_id,name,price,copies,sort,create_time,update_time,create_user,update_user,is_deleted)
        values (#{setmealDish.id},#{setmealDish.setmealId},#{setmealDish.dishId},#{setmealDish.name},#{setmealDish.price},#{setmealDish.copies},
        #{setmealDish.sort},#{setmealDish.createTime},#{setmealDish.updateTime},#{id},#{id},#{setmealDish.isDeleted})
    </insert>
</mapper>