<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.reggie.mapper.UserMapper">
    <insert id="addUser">
        insert into user(id,name,phone,sex,id_number,avatar,status)values (#{user.id},#{user.name},#{user.phone},#{user.sex},
        #{user.idNumber},#{user.avatar},#{user.status})
    </insert>

    <select id="findUser" resultType="com.itheima.reggie.bean.User">
        select * from user where phone=#{phone}

    </select>
</mapper>